<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
    <script>
    // $(document).on("turbolinks:load", function() {
    //     initMap(<%= raw @businesses.to_json%>)
    // });
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%= raw @businesses.to_json%>)
    });
    </script>
<% end %>

<div class="slider">
    <div id="map"></div>
    <div class="nav-top-above-white"></div>
</div>

<div id="bulk" class="make-space">
    
    <div id="welcome" class="make-space">
        <div class="title"><%= @title%></div>
    </div>

    <div id="featured-boxes" class="make-space">
        <% @businesses.each do |b| %>

            <% if b.isFeatured && b.featureAd.attached? %>
                <%= image_tag(b.featureAd, class: "list-item-image")%>
            <% end %>
        <% end %>
    </div>

    <div id="topic-boxes" class="make-space">
        <% @businesses.each do |b| %>
            <div class="bus-item" >
                <div class="item-box">
                    <div class="item-name"><%= b.name %></div>
                    <div class="item-address"><%= b.address1 %></div>
                    <% if b.address2 %>
                        <div class="item-address"><%= b.address2 %></div>
                    <% end %>
                    <div class="item-city"><%= "#{b.city}, #{b.state} #{b.zipcode}" %></div>
                    <div class="item-phone"><%= b.phone %></div>
                    <% if b.website %>
                        <div class="item-website"><%= b.website %></div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

</div>