<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
    <script>
    // $(document).on("turbolinks:load", function() {
    //     initMap(<%= raw @businesses.to_json%>)
    // });
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%= raw @businesses.to_json%>)
    });
    </script>
<% end %>

<div class="slider">
    <div id="map"></div>
    <div class="nav-top-above-white"></div>
</div>

<div id="bulk" class="make-space">
    
    <div id="welcome" class="make-space">
        <div class="title"><%= @title%></div>
        <div class="sub-title"><%= @subtitle%></div>
        <div class="welcome-info"><%= @message%></div>
    </div>

    <div id="topic-boxes" class="make-space">
        <% @businesses.each do |b| %>
            <div class="category" >
                <div class="cat-name"><%= b.name %></div>
            </div>
        <% end %>
    </div>

</div>