
<div class="slider">
    <div class="headline head1">
        <div class="head-holder">
            <div class="headline-title">Porkies</div>
            <div class="headline-info">This is the other porkies information</div>
        </div>
    </div>
    <div class="headline head2">
        <div class="head-holder">
            <div class="headline-title">Wakefield</div>
            <div class="headline-info">This is the other Wakefield information</div>
        </div>
    </div>
    <div class="slideCount">
        <span class="c1 slIcon"><%= fa_icon("circle") %></span><span class="c2 slIcon"><%= fa_icon("circle") %></span><span class="c3 slIcon"><%= fa_icon("circle") %></span>
    </div>
    <div class="nav-top-above-white"></div>
</div>
<div id="bulk" class="make-space">
    <div id="welcome" class="make-space">
        <div class="title">Welome to the Western UP of MI and Northern WI!</div>
        <div class="sub-title">The most beautifulest of all</div>
        <div class="welcome-info">
        This will be the general welcome message. It should be about 5-8 lines long on a full screen and can be clip shorter on a mobile device. 'alihs'lhglkjnafdgm fg kjnfaj skdnf sn kj dfoigIOPqj jkdf gj wd kdfj hdwkjfhv jlwhjhe jfhq jhe fgjh wdfjgh dwjfhg j,wdhf gwhdf g.hwdf.gh feg;qheghqjfhv jhd vjqh dgh ejrhg jhfg jhdfgjqejrgquertiuqergiuqf gjh qdfgjh qehgjqh egjh qjge qjfgiuqeg qjegh qidf gjh qefghqihe gjhq egjh qejg jqfgj qfegh qejhr fjh dfjh qjerh tjqh ejrth qjerht jqr efjhqrehrf.
        </div>
    </div>
    <div id="topic-boxes" class="make-space">
        
        <% @cats.each do |c| %>
            <div class="category" >
                <%= link_to c, business_path(cat: c), class: "cat-name"%>
            </div>
        <% end %>

        <!--<div class="box">
            <div class="box-image"><%=image_tag('explore200250.jpg')%></div>
            <div class="box-info">Explore</div>
        </div>
        <div class="box">
            <div class="box-image"><%=image_tag('stay250200.jpg')%></div>
            <div class="box-info">Stay</div>
        </div>
        <div class="box">
            <div class="box-image"><%=image_tag('map250200.jpg')%></div>
            <div class="box-info">Maps</div>
        </div>
        <div class="box">
            <div class="box-image"><%=image_tag('conditions250200.jpg')%></div>
            <div class="box-info">Conditions</div>
        </div>-->
    </div>
</div>
