
<div class="slider">
    <div class="headline head1">
        <div class="head-holder">
            <div class="headline-title dark">Porkies</div>
            <div class="headline-info light">This is the other porkies information</div>
        </div>
    </div>
    <div class="headline head2">
        <div class="head-holder">
            <div class="headline-title light">Wakefield</div>
            <div class="headline-info light">This is the other Wakefield information</div>
        </div>
    </div>
    <div class="slideCount">
        <span class="c1 slIcon"><%= fa_icon("circle") %></span><span class="c2 slIcon"><%= fa_icon("circle") %></span><span class="c3 slIcon"><%= fa_icon("circle") %></span>
    </div>
</div>

<div id="bulk" class="make-space front">
    <div id="welcome" class="">
        <div class="title">Welome to the Western UP of MI and Northern WI!</div>
        <div class="sub-title">The most beautifulest of all</div>
        <div class="welcome-info">
        While visiting the area please stop in to our local businesses and see what they have to offer.
        </div>
    </div>
</div>

<div id="topic-boxes" class="make-space">
    <% @cats.each do |c| %>
        <%= link_to bus_path(cat: c), class: "cat-link", data: {no_turbolink: true} do %>
        <div class="category" >
            <div class="cat-name"><%= c %></div>
        </div>
        <% end %>
    <% end %>
</div>

<div class="feature">

</div>

<div id="bulk" class="make-space front">
    <div id="welcome" class="make-space">
        <div class="title">Welome to the Western UP of MI and Northern WI!</div>
        <div class="sub-title">The most beautifulest of all</div>
        <div class="welcome-info">
        While visiting the area please stop in to our local businesses and see what they have to offer.
        </div>
    </div>
    <div id="topic-boxes" class="make-space">
        
        <% @cats.each do |c| %>
            <%= link_to bus_path(cat: c), class: "cat-link", data: {no_turbolink: true} do %>
            <div class="category" >
                <div class="cat-name"><%= c %></div>
            </div>
            <% end %>
        <% end %>

    </div>
    <div class="feature">

    </div>
</div>
